{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "react"
  ],
  "env": {
    "test": {
      "presets": [["env"], "react"]
    }
  },
  "plugins": [
    "transform-object-rest-spread",
    [
      "inline-replace-variables",
      {
        "__API_SERVER__": "http://localhost:3000/api/"
      }
    ]
  ]
}
